$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$color-blue: #81b3d2;
$color-gray: #e5e5e5;

$button-hover: #669ec0;
$button-active: #5496bd;
$button-disabled: #e5e5e5;

$input: #f2f2f2;
$input-hover: #e5e5e5;
$input-active: #d5d5d5;
$input-text-active: white;

$main-font__color: #333333;
$title-font-size: 18px;
$title-line-height: 26px;

$background-color__footer: #fefefe;
$background-color__main: white;

$main-font__regular: "PT Sans", "Arial", sans-serif;
$main-font__bold: "PT Sans Bold", "Arial", sans-serif;
